<!--DOCTYPE html-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <% include ./partial/_header %>

    <% for (url in urls) {%>
    <h3> <%= 'u/' + url %> </h3>
    <p1> <%= urls[url] %> </p1>
    <a href="/urls/<%= url %>">edit</a> <br>
    <form class="button" method="POST" action="/urls/<%= url %>/delete">
      <button type="submit" class="btn btn-primary">Delete</button>
    </form>
    <% }%>
</body>
</html>

